# Build output
build_out.txt
/.vs
/Debug
/Release
/x64
/Win32
/PAZ-Unpacker

# Compiler artifacts
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.iobj
*.ipdb
*.aps
*.pch
*.ipch

# Visual Studio
*.user
*.suo
*.ncb
*.sdf
*.opensdf
*.cachefile
*.db
*.opendb

# IDE
.vscode/

# Windows
Thumbs.db
Desktop.ini
